.slider {
  transform-style: preserve-3d;
  transform: perspective(5000px) rotateX(-16deg);
  animation: autoRun 70s linear infinite;
}

.project {
  transform: rotateY(calc(var(--position) * (360 / var(--quantity)) * 1deg)) translateZ(550px);
  opacity: 0;
}

.star {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
}

.comet {
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5),
              0 0 40px 20px rgba(255, 255, 255, 0.3),
              0 0 60px 30px rgba(255, 255, 255, 0.1);
}

.current-path-project[data-current=true] {
  transition: color .3s ease-in-out;

}

.current-path-project::after {
  content: '';
  background: url('../../../assets/black-hole-2.png') no-repeat center center;
  background-size: cover;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;  
  position: absolute;
  bottom: -35px;
  left: 30%;
  transform: translateX(-50%) scale(1);
  clip-path: circle(0% at 50% 50%);
  
  animation: blackHoleMovemet linear 5s infinite;
  transition: clip-path .5s ease-out;
}


.current-path-project[data-current=true]::after {
  clip-path: circle(150% at 50% 50%);
}

.pizza-slice {
  height: 50%;
  width: 80px;
  clip-path: polygon(100% 0, 50% 100%, 0 0);
  
  position: absolute;
  left: 46.4%;
  
  transform-origin: bottom;
  
  text-align: center;
  
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: hsl(calc(var(--slice-number) * var(--angle)), 70%, 50%); */
  transform: rotate(calc(var(--slice-number) * var(--angle) * 1deg));
}


.slider-counter > div {
  flex: 1;
}

.slider-counter > p {
  line-height: 20px;
}

.counter {
  position: relative;
  top: 0;
  will-change: transform;
}

.preview:not(.active) > .planet-preview {
  opacity: .5;
}


@keyframes blackHoleMovemet {
  0% {
    transform: scale(1) rotate(0deg);
  }

  50% {
    transform: scale(0.9) rotate(180deg);
  }

  100% {
    transform: scale(1) rotate(360deg);
  }
}

@keyframes spaceMovement {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: -150% -150%;
  }

  75% {
    background-position: -150% -10%;
  }

  100% {
    background-position: 0% 0%;
  }
}

@keyframes twinkle {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

@keyframes cometMove {
  0% {
    opacity: 0;
    transform: translateX(0) translateY(0) scale(1);
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(100vw) translateY(100vh) scale(2); 
  }
}

@keyframes autoRun {
  from {
    transform: perspective(5000px) rotateX(-16deg) rotateY(0deg);
  }
  to {
    transform: perspective(5000px) rotateX(-16deg) rotateY(360deg);
  }
}

@media(max-width: 768px) {
  .pizza-slice {
      left: 30%;
  }
}