.typewrite-text {
    color: #00f6ff;
    text-shadow: 
      0 0 3px #00f6ff, 
      0 0 7px #00f6ff, 
      0 0 15px #00b0cc, 
      0 0 25px #008fa3, 
      0 0 35px #008fa3;
}


.space-bg-preloader {
    background: radial-gradient(circle at 50% 50%, 
    #000000 10%,  
    #040506 20%,  
    #0a0b0f 30%,  
    #101218 45%,  
    #161823 60%,  
    #1d1e2a 75%, 
    #26293b 95%, 
    #34394e 100% 
    );  background-size: 125% 125%;
    /* animation: spaceMovement 30s linear infinite; */
}

  .space-bg-preloader .particle {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
}
  
  .space-bg-preloader .particle:nth-child(odd) {
    width: 2px;
    height: 2px;
}
  
  .space-bg-preloader .particle:nth-child(even) {
    width: 4px;
    height: 4px;
}

.hologram {
  background-color: rgba(0, 128, 255, 0.1); /* Fundo azul transparente */
  box-shadow: 
    0 0 20px rgba(0, 128, 255, 0.3), /* Primeira sombra azul clara */
    0 0 60px rgba(0, 128, 255, 0.4), /* Sombra azul mais intensa */
    0 0 100px rgba(0, 128, 255, 0.5), /* Sombra difusa azul */
    inset 0 0 50px rgba(0, 128, 255, 0.2); /* Efeito interno para parecer projetado */
  
  border-radius: 10px; /* Opcional: bordas arredondadas */


  backdrop-filter: blur(5px);
}
