.pizza-slice {
    height: 50%;
    width: 80px;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    
    position: absolute;
    left: 46.4%;
    
    
    transform-origin: bottom;
    
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: hsl(calc(var(--slice-number) * var(--angle)), 70%, 50%); */
    transform: rotate(calc(var(--slice-number) * var(--angle) * 1deg));
}


  
@media(max-width: 768px) {
    .pizza-slice {
        left: 30%;
    }
}