@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: rgb(23, 23, 23);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:  rgb(12, 13, 22);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* infinite scrollbar horizontal */
.scroller[data-animated=true] {
  overflow: hidden;
  
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent); 
}

.scroller[data-animated=true] .scroller__inner {
  width: max-content;
  animation: scroll var(--_animation-durantion, 60s) linear infinite;
}

.scroller[data-animated=true] .scroller__inner2 {
  width: max-content;
  animation: scroll var(--_animation-durantion, 60s) linear infinite reverse;
}

.scroller[data-animated=true] .scroller__inner:hover,
.scroller[data-animated=true] .scroller__inner2:hover {
  animation-play-state: paused;
}

/*
  Negativo = faz a esteria correr mais para a esquerda (atrasa) antes de resetar
  Positivo = faz a esteria correr mais para a direita (antecipa) atnes de resetar
*/
@keyframes scroll {
  to {
    transform: translate(calc(-50% + 6px));
  }
}


/* links hover effect */
.hover-underline {
  transition: color .3s linear;
}

.hover-underline:hover {
  color: rgba(101, 98, 117, 0.979);
}

.hover-underline::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgba(101, 98, 117, 0.979); 
  transition: width 0.3s ease;
}

.hover-underline:hover::after {
  width: 100%;
}

/* Magneto button */
.magneto-professional-icons::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 0rem;
  height: 6rem;
  border-radius: 50%;
  background: rgb(85, 138, 138);  

  transition: width 0.3s ease, border 0.3s ease;
}

.magneto-professional-icons:hover::after {
  width: 6rem;
  border: 4px solid white;
}

.magneto-professional-icons::after:hover {
  width: 7rem;
}

/* Data-Current Route Icon */
.current-route-desktop::after {
  content: '';
  display: block;
  width: 6px; 
  height: 0px; 
  border-radius: 50%; 
  background-color: rgb(20 184 166); 
  
  position: absolute; 
  right: 50%;
  bottom: -10px;

  transition: height .3s ease-in-out;
}

.current-route-desktop[data-current=true]::after {
  height: 6px;
}

.current-route-mobile {
  padding-right: 2rem;
}

.current-route-mobile::after {
  content: '';
  display: block;
  width: 0px; 
  height: 12px; 
  border-radius: 50%; 
  background-color: white; 
  position: absolute;

  top: 50%;
  right: 5%;

  transform: translateY(-50%);

  transition: width .3s ease-in-out;
}

.current-route-mobile[data-current=true]::after {
  width: 12px;
}

/* close menu btn */
.close-menu-btn {
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
  padding: 1rem;
}

.close-menu-btn:hover {
  color: rgb(113 113 122);
  background-color: white;
}


/*Clip Paths Animations GSAP*/
.link-mov {
  clip-path: inset(100% 0% 0% 0%);
}

.home-text-container-clip-path {
  clip-path: inset(0% 100% 0% 0%);
}

.home-circle-container-clip-path {
  clip-path: circle(0 at 50% 50%)
}



/* Logo Animated*/
.text-body {
  animation: 6s infinite alternate animate-stroke; 
}

@keyframes animate-stroke {
  0% {
    fill: transparent;
    stroke: white;
    stroke-width: 2;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 32%;
  }
  50% {
    fill: transparent;
    stroke: white;
    stroke-width: 2;

  }
  80%,
  100% {
    fill: white;
    stroke: transparent;
    stroke-width: 0;
    stroke-dashoffset: -25%;
    stroke-dasharray: 32% 0;
  }

}

.project-container-home::before {
  content: '';
  position: absolute;
 
  width: 135%; 
  height: 50%;
  top: 30%;
  left: -15%;

  background: conic-gradient(
    rgba(244, 114, 182, 0.8) 0deg,
    rgba(192, 132, 252, 0.8) 90deg,
    transparent 90deg
  );

  clip-path: polygon(100% 100%, 0 100%, 100% 0);
}






/* Projects CSS */
.space-bg {
  background: radial-gradient(circle at 50% 50%, 
  #000000 10%,  
  #040506 20%,  
  #0a0b0f 30%,  
  #101218 45%,  
  #161823 60%,  
  #1d1e2a 75%, 
  #26293b 95%, 
  #34394e 100% 
  );  background-size: 200% 200%;
  animation: spaceMovement 30s linear infinite;
}


.slider {
  transform-style: preserve-3d;
  transform: perspective(5000px);
  animation: autoRun 60s linear infinite;
}

.project {
  transform: rotateY(calc(var(--position) * (360 / var(--quantity)) * 1deg)) translateZ(550px);
}

.project:hover {
  animation-play-state: paused;
}


.star {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
}

.comet {
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5),
              0 0 40px 20px rgba(255, 255, 255, 0.3),
              0 0 60px 30px rgba(255, 255, 255, 0.1);
}


@keyframes spaceMovement {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: -150% -150%;
  }

  75% {
    background-position: -150% -10%;
  }

  100% {
    background-position: 0% 0%;
  }
}

@keyframes twinkle {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}


@keyframes cometMove {
  0% {
    opacity: 0;
    transform: translateX(0) translateY(0) scale(1);
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(1000px) translateY(500px) scale(2); 
  }
}

@keyframes autoRun {
  from {
    transform: perspective(5000px) rotateX(-16deg) rotateY(0deg);
  }
  to {
    transform: perspective(5000px) rotateX(-16deg) rotateY(360deg);
  }
}



/* html scrollbar styles */
::-webkit-scrollbar {
  width: 10px; 
  height: 10px; 
}

::-webkit-scrollbar-track {
  background: #f0f0f0; 
  border-radius: 6px; 
}


::-webkit-scrollbar-thumb {
  background-color: rgb(22, 13, 92); 
  border-radius: 6px; 
  border: 3px solid #f0f0f0;
}


::-webkit-scrollbar-thumb:hover {
  background-color: rgba(26, 15, 108, 0.874); 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .clip-hide {
    clip-path: inset(0% 0% 0% 100%);
  }

  .project-container-home::before {
    @apply animate-boder-spin
  }
  
}

