@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: rgb(23, 23, 23);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:  rgb(12, 13, 22);
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/*Clip Paths Animations GSAP*/
.link-mov {
  clip-path: inset(100% 0% 0% 0%);
}



.home-circle-container-clip-path {
  clip-path: circle(0 at 50% 50%)
}


/* html scrollbar styles */
::-webkit-scrollbar {
  width: 10px; 
  height: 10px; 
}

::-webkit-scrollbar-track {
  background: #f0f0f0; 
  border-radius: 6px; 
}

::-webkit-scrollbar-thumb {
  background-color: rgb(22, 13, 92); 
  border-radius: 6px; 
  border: 3px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(26, 15, 108, 0.874); 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .clip-hide {
    clip-path: inset(0% 0% 0% 100%);
  }
}

